@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0A192F;
  color: #E0E0E0;
}

/*----------home----------*/
#home {
  padding: 40px 0 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.photo {
  width: 35%;
  float: right;
  margin-top: 8%;
  border: 5px solid #E0E0E0;
  border-radius: 51%;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  background: #0A192F;
  position: fixed;
  top: 0;
}

.logo {
  width: 50px;
  border: 2px solid #E0E0E0;
  border-radius: 27px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #E0E0E0;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  background: #00ADB5;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 50px;
}

.header-text h1 span {
  color: #00ADB5;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  /*width: 10%;*/
  padding: 10px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: border-color 0.5s, transform 0.5s;
}

button:hover {
  border-color: #00ADB5;
}

button a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 16px;
}

.fa-brands,
.fab {
  font-weight: 400;
  margin-right: 7px;
}

/*----------about----------*/
#about {
  padding: 80px 0 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  height: 87vh;
  padding: 0 15px;
}

.about-col-2 {
  flex-basis: 65%;
}

.sub-heading {
  font-size: 50px;
  font-weight: 400;
}

.paras {
  font-size: 18px;
  font-family: 'Nunito', 'sans-serif';
}

.tag-heading {
  display: flex;
  margin: 20px 0 40px;
}

.tag-subHeading {
  font-size: 20px;
  font-weight: 500;
  margin-right: 50px;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}

.tag-subHeading::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  background: #00ADB5;
}

.tag-subHeading.active-subHeading::after {
  width: 50%;
}

.tag-content ul li {
  list-style: none;
  margin: 10px 0;
}

.tag {
  color: #00ADB5;
  font-size: 20px;
}

.YOP {
  margin-left: 30px;
}

.tag-content {
  display: none;
}

.tag-content.active-content {
  display: block;
}

/*----------services----------*/
#services {
  padding: 70px 0 30px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.services-list div {
  background: white;
  color: #333333;
  padding: 10px 30px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div:hover {
  background: rgb(0, 173, 181);
  transform: translateY(-10px);
  color: #E0E0E0;
}

.service-img {
  width: 20%;
}

.services-list div i {
  font-size: 55px;
  font-weight: 900;
  margin: 12% 0;
  color: grey;
}

.web {
  width: 30%;
}

.services-list div h2 {
  padding: 10px 0;
}

.services-list div a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.services-list div p {
  margin-bottom: 20px;
  font-size: 17px;
}

.hire-head {
  margin-left: 13%;
}

.hire {
  margin: 20px auto;
  font-size: 17px;
  background: red;
  padding: 10px;
  width: 75%;
  color: white;
  border-radius: 8px;
  border: 2px solid;
}

.hire-btn3 {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/*----------portfolio----------*/
#portfolio {
  padding: 80px 0 40px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.work img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(0, 173, 181, 0.8), white);
  color: #333333;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin: 15px 0;
  font-size: 20px;
  color: white;
}

.layer a {
  background: #00ADB5;
  border-radius: 50%;
  font-size: 15px;
  margin: 15px 0;
  padding: 7px;
  color: black;
}

.layer p {
  color: black;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  text-align: center;
  margin: 20px 0;
}

/*----------contact----------*/
#contact {
  padding: 75px 0 40px;
}

.contact-leftside {
  flex-basis: 60%;
}

.contact-leftside h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-leftside form {
  width: 85%;
}

form input,
form textarea {
  width: 85%;
  padding: 13px;
  margin: 10px 0;
  background: #E0E0E0;
  font-size: 18px;
  border: 2px solid #E0E0E0;
  outline: none;
  color: black;
  border-radius: 6px;
}

form input:hover {
  border-color: #00ADB5;
}

form textarea:hover {
  border-color: #00ADB5
}

.btn2 {
  width: 13%;
}


.contact-rightside {
  flex-basis: 35%;
}

.contact-rightside h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

.contact-rightside p {
  margin: 15px 0;
  font-size: 18px;
}

.contact-rightside p i {
  margin-right: 15px;
  color: #00ADB5;
  font-size: 18px;
  transition: color 0.5s, transform 0.5s;
}

.contact-rightside p i:hover {
  color: #00ADB5;
  transform: translateX(5px);
}

.social-link {
  margin: 30px 0;
}

.social-link a {
  text-decoration: none;
  margin-right: 15px;
  color: white;
  font-size: 25px;
  display: inline-block;
  transition: color 0.5s, transform 0.5s;
}

.social-link a:hover {
  color: #00ADB5;
  transform: translateY(-5px);
}

.fa-download {
  margin-right: 8px;
}

.cv {
  transition: background 2.5s;
}

.cv:hover {
  background: #00ADB5;
}

.whatsapp {
  position: fixed;
  right: 50px;
  bottom: 60px;
  width: 3%;
  z-index: 2;
  transition: transform 0.5s;
}

.whatsapp:hover {
  transform: scale(1.1);
}

.copyright {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.copyright a {
  text-decoration: none;
  color: #00ADB5;
}

/*-----------media query--------------*/

nav .fa-solid {
  display: none;
}

@media only screen and (max-width:943px) {

  nav .fa-solid {
  display: none;
}

@media only screen and (max-width:943px) {

  #home {
    width: 100%;
  }

  .home-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #0A192F;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 135px;
    cursor: pointer;
  }

  .photo {
    width: 95%;
    margin-top: 35%;
  }

  .header-text {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

  .header-text h1 {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
  }

  button {
    width: 40%;
  }

  .row {
    display: block;
  }

  .about-col-1 img {
    width: 100%;
    height: 45vh;
    padding: 0 15px;
  }

  .sub-heading {
    font-size: 30px;
    font-weight: 700;
  }

  .paras {
    font-size: 16px;
    font-family: 'Nunito', 'sans-serif';
    padding-top: 15px;
  }

  .tag-subHeading {
    margin-right: 35px;
    letter-spacing: 0;
  }

  #about {
    padding: 30px 0;
  }

  .hire-head {
    margin: auto;
  }

  .hire-btn3 {
    width: 25%;
  }

  .hire {
    width: 100%;
  }

  #portfolio {
    padding: 30px 0;
  }

  .work {
    height: 40vh;
  }

  .layer h3 {
    font-size: 30px;
  }

  .location{
    font-size: 14px;
  }

  .board{
    font-size: 15px;
  }

  .YOP{
    font-size: 14px;
    margin-left: 20px;
  }

  .services-list div p {
    font-size: 16px;
  }

  .services-list div h2 {
    font-size: 20px;
  }

  #contact {
    padding: 30px 0;
  }

  .contact-leftside form {
    width: 100%;
  }

  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
  }

  .btn2 {
    width: 30%;
    margin-bottom: 10px;
  }

  .contact-rightside p {
    font-size: 16px;
  }

  .whatsapp {
    width: 13%;
    bottom: 40px;
    right: 40px;
    z-index: 2;
  }

  .copyright {
    font-size: 10px;
  }

}
